<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/masroofy_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/masroofy_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Masroofy"
        tools:targetApi="31"
        >


        <!-- Paramètres Activity -->
        <activity
            android:name=".ParametresActivity"
            android:exported="false" />

        <!-- Résumé Activity -->
        <activity
            android:name=".ResumeActivity"
            android:exported="false" />

        <!-- Historique Dépenses Activity -->
        <activity
            android:name=".HistoriqueDepensesActivity"
            android:exported="false" />

        <!-- Ajouter Dépenses Activity -->
        <activity
            android:name=".AjouterDepensesActivity"
            android:exported="false" />

        <!-- MainActivity : Activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SplashActivity : Résolution de l'erreur android:exported -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>
